<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu_styles.css">
    <link rel="stylesheet" href="/css/navbar_styles.css">
    <link rel="stylesheet" href="/css/underline.css">
    <title>Document</title>
</head>

<body id="real-body">
    <input id="menu-hamburguer" type="checkbox">
    <label for="menu-hamburguer">
        <div class="menu"></div>
        <span class="hamburguer"></span>
    </label>
    <ul id="lista">
        <div class="box">
            <div id="idp01">
                <a class="link" href="facebook.com">
                    <div class="project_title">
                            <div class="project_title_one_one">MOVIMENTO</div>
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_two_one">EMPATIA</div>
                    </div> 
                    <img id="project_object_um" class="project_object" src="/resources/img/Vector Smart Object.png" alt=""> 
                    <div class="project_client" id="project_client_one">GOVERNO</div>
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp02">
                <a class="link" href="www.facebook.com">
                    <div class="project_client" id="project_client_two">AIRBNB</div>
                    <div class="project_title">
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_two_two">REBIRTH</div>
                    </div> 
                    <img id="project_object_dois" class="project_object" src='/resources/img/Vector Smart Object 2.png' alt="">
                    <div class="project_prop">
                        <span>FUTURE LIONS</span>
                        <span>COMPETITION</span>
                    </div> 
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp03">
                <a class="link" href="www.facebook.com">
                    <div class="project_client" id="project_client_three">BUDWEISER</div>
                    <div class="project_title">
                        <div class="project_title_one_three">HAPPIEST</div>
                        <img id="project_object_tres" class="project_object" src="\resources\img\_Compound Path_.png" alt="">
                        <div class="project_title_two_three">HOUR</div>
                    </div> 
                    <img class="first_pic" src="" alt=""> 
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp04">
                <a class="link" href="www.facebook.com">
                    <img id="project_object_quatro" class="project_object" src="\resources\img\_Compound Path_ (5).png" alt="">
                    <div class="project_title">
                        <div class="project_title_one_for">CLINICA</div>
                        <img class="first_pic" src="" alt=""> 
                        <div class="project_title_two_for">MAIS</div>
                    </div>
                    <div class="project_client" id="project_client_for">CCG SAÚDE</div>
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp05">
                <a class="link" href="www.facebook.com">
                    <div class="project_client" id="project_client_five">SANTANDER</div>
                    <div class="project_title">
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_one_five">RESTART</div> 
                        <div class="project_title_extra">THE</div>
                        <div class="project_title_two_five">GAME</div>
                    </div> 
                    <img id="project_object_cinco" class="project_object" src="\resources\img\_Compound Path_ (3).png" alt=""> 
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp06">
                <a class="link" href="www.facebook.com">
                    <img id="project_object_seis" class="project_object" src="\resources\img\_Compound Path_ (4).png" alt="">
                    <div class="project_title">
                        <div class="project_title_one_six">HEAT</div>
                        <img class="first_pic" src="" alt=""> 
                        <div class="project_title_two_six">POINT</div>
                    </div>  
                    <div class="project_client" id="project_client_six">BK</div>
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp01">
                <a class="link" href="facebook.com">
                    <div class="project_title">
                            <div class="project_title_one_one">MOVIMENTO</div>
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_two_one">EMPATIA</div>
                    </div> 
                    <img id="project_object_um" class="project_object" src="/resources/img/Vector Smart Object.png" alt=""> 
                    <div class="project_client">GOVERNO</div>
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp01">
                <a class="link" href="facebook.com">
                    <div class="project_title">
                            <div class="project_title_one_one">MOVIMENTO</div>
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_two_one">EMPATIA</div>
                    </div> 
                    <img id="project_object_um" class="project_object" src="/resources/img/Vector Smart Object.png" alt=""> 
                    <div class="project_client">GOVERNO</div>
                </a>
            </div>
        </div>

        <div class="box">
            <div id="idp01">
                <a class="link" href="facebook.com">
                    <div class="project_title">
                            <div class="project_title_one_one">MOVIMENTO</div>
                        <img class="first_pic" src="" alt="">
                        <div class="project_title_two_one">EMPATIA</div>
                    </div> 
                    <img id="project_object_um" class="project_object" src="/resources/img/Vector Smart Object.png" alt=""> 
                    <div class="project_client">GOVERNO</div>
                </a>
            </div>
        </div>
        </ul>
</body>
</html>